*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
  }
  
  .input-box{
      font-size: 16px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      border: 0px;
      border-bottom: 1px solid #ccc;
      justify-content: left;
      margin-left: 10px;
      
  }

  #icon-wrapper{
      padding: 24px;
      width: 700px;
  }
  #btn{
      border: none;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 16px;
      color: black;
      font-weight: bold;
      background-color: lightskyblue    ;
  }
  body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00AAFF, #00FF6C);
  }

 
  
  .calculator-grid {
    margin-left: 10px;
    display: grid;
    min-height: 05px;
    grid-template-columns: repeat(16, 50px);
    grid-template-rows: minmax(50px, auto) repeat(5, 50px);
  }
  
  .calculator-grid > button {
    cursor: pointer;
    font-size: 1rem;
    border: 1.5px solid lightyellow;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
  }
  
  .span-two {
    grid-column: span 2;
  }
  
  .output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
  }
  
  .output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
  }
  
  .output .current-operand {
    color: white;
    font-size: 2.5rem;
  }

  form{
      background-color: peachpuff   ;
      width: 700px;
      height: 400px;
      margin-left: 10px;
      border: 1px solid #ccc;

  }

  .heading-adjust{
    background-color: orange  ;
    width: 800px;
    height: 50px;
    margin-left: 10px;
    border: 1px solid #ccc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    
}
#para-edit {
  padding: 0;
  width: 800px;
  margin-left: 10px;
  background-color: rgba(255, 255, 255, .75); 
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer {
  text-align: center;
  padding: 5px;
  background-color: orange;
  color:black;
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




